In [2]:
import pandas as pd
import time
import numpy as py

In [3]:
df= pd.read_csv("chicago.csv")

In [4]:
print(df.head())

   Unnamed: 0           Start Time             End Time  Trip Duration  \
0     1423854  2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915  2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031  2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487  2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207  2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year
0    Male      1992.0
1  Female      1992.0
2    Male      1981.0
3    Male      1986.0
4    Male      1975.0

In [5]:
df.shape

(300000, 9)

In [6]:
df.columns

Index(['Unnamed: 0', 'Start Time', 'End Time', 'Trip Duration',
       'Start Station', 'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  object
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      300000 non-null  object
 7   Gender         238948 non-null  object
 8   Birth Year     238981 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

In [8]:
df.duplicated().sum()

0

In [9]:
df.isnull().sum()

Unnamed: 0           0
Start Time           0
End Time             0
Trip Duration        0
Start Station        0
End Station          0
User Type            0
Gender           61052
Birth Year       61019
dtype: int64

In [10]:
df.describe()

         Unnamed: 0  Trip Duration     Birth Year
count  3.000000e+05  300000.000000  238981.000000
mean   7.763458e+05     936.239290    1980.858223
std    4.481464e+05    1548.792767      11.003329
min    4.000000e+00      60.000000    1899.000000
25%    3.871368e+05     393.000000    1975.000000
50%    7.771035e+05     670.000000    1984.000000
75%    1.164065e+06    1125.000000    1989.000000
max    1.551500e+06   86224.000000    2016.000000

In [11]:
df['User Type'].value_counts()

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [12]:
df['User Type'].unique()

array(['Subscriber', 'Customer', 'Dependent'], dtype=object)

In [13]:
city_D={'chicago':'chicago.csv',
       'new york city': 'new_york_city.csv',
       'washington':'washington.csv'}

In [14]:
month_l=['january','february','march','april','may','june','all']
weekday_l=['sunday','monday','tuesday','wednesday','thursday','friday','satrurday','all']

In [15]:
def get_filters():
    print('hi let\'s explore some US bikeshare data!')
    city= check_userInput('would you like to see the data for chicago, new york city or washington?\n','c')
    month=check_userInput("For filtering data by specific month please enter month name from (january,february, march, april, may ,june) otherwise enter 'all'\n ",'m')
    day=check_userInput("For filtering data by specific day please enter day name from ('sunday','monday','tuesday','wednesday','thursday','friday','satrurday') otherwise enter 'all'\n ",'d')
    print('-'*40)
    return city,month,day

In [16]:
def check_userInput(user_input,input_type):
    while True:
            input_user_entered=input(user_input).lower()
            try:
                if input_user_entered in ['chicago','new york city','washington'] and input_type == 'c':
                    break
                elif input_user_entered in month_l and input_type == 'm':
                    break
                elif input_user_entered in weekday_l and input_type == 'd':
                    break
                else:
                    if input_type == 'c':
                        print("invalid input!,input must be : chicago, new york city or washington")
                    if input_type == 'm':
                        print("invalid input!,input must be :january,february, march, april, may ,june or all")
                    if input_type == 'd':
                        print("invalid input!,input must be :'sunday',...,'friday','satrurday'or all")
            except ValueError:
                print("sorry,your input is wrong")
    return input_user_entered

In [17]:
def load_data(city,month,day):
    df = pd.read_csv(city_D[city])
    df['Start Time']=pd.to_datetime(df['Start Time'])
    df['month']=df['Start Time'].dt.month
    df['day_of_week']=df['Start Time'].dt.day_name()
    df['hour']=df['Start Time'].dt.hour
    
    
    if month != 'all':
        months = ['january','february','march','april','may','june']
        month = months.index(month) + 1
        
        df=df[df['month']== month]
        
    if day != 'all':
       df=df[df['day_of_week'] == day.title()]
    
    return df

In [18]:
def time_stats(df):
        print('\nCalculating the most frequent time of travel..\n')
        start_t=time.time()
    
        most_c_month=df['month'].mode()[0]
        print('most common month is', most_c_month)
        most_c_day=df['day_of_week'].mode()[0]
        print('most common day of week is', most_c_day)
    
        most_c_hour=df['hour'].mode()[0]
        print('most common hour of day is', most_c_hour)
    
        print("\nthis took %s seconds."% (time.time() - start_t))
        print('_'*40)

In [19]:
def station_stats(df):
    print('\nCalculating the most popular stations and trip..\n')
    start_t=time.time()
    
    most_c_start_sta=df['Start Station'].mode()[0]
    print('most common start station is', most_c_start_sta)
    most_c_end_sta=df['End Station'].mode()[0]
    print('most common end station is', most_c_end_sta)
    
    combination_g=df.groupby(['Start Station','End Station'])
    most_f_combination_s = combination_g.size().sort_values(ascending=False).head(1)
    print('most frequent combination of start station trip is :',most_f_combination_s)
    print("\nthis took %s seconds."% (time.time() - start_t))
    print('_'*40)

In [20]:
def trip_duration_starts(df):
    print('\nCalculating trip Duration..\n')
    start_t=time.time()
    
    total_t_t=df['Trip Duration'].sum()
    print('total travel time is:',total_t_t)
    
    mean_t_t=df['Trip Duration'].sum()
    print('mean travel time is:',mean_t_t)
    
    print("\nThis tool %s seconds."% (time.time() - start_t))
    print("-"*40)

In [21]:
def user_stats(df,city):
    print('\nCalculating user stats..\n')
    start_t=time.time()
    
    print('user type in data are:', df['User Type'].value_counts())
    
    if city != 'washington':
        print('counts of gender: ',df['Gender'].value_counts())
        
        earliest_y= df['Birth Year'].min()
        print('earliest year is: ',  earliest_y)
        
        most_rec_year= df['Birth Year'].max()
        print('most recent year is: ',   most_rec_year)
        
        most_comm_year= df['Birth Year'].mode()[0]
        print('most common year is: ',   most_comm_year)
        
    print("\nthis took %s seconds." % (time.time() - start_t))
    print('_'*40)

In [22]:
def show_row_data(df):
    row=0
    while True:
        view_r_data=input("would you like to see the raw data? 'yes' enter 'Y' and for 'no' enter 'N'.\n").lower()
        if view_r_data == "y":
            print(df.iloc[row : row + 6])
            row += 6
            
        elif view_r_data == "n":
            break
        else:
            print("sorry! you entered wrong input, try again")

In [24]:
def GPA():
    print("5 out of 5")

In [25]:
def printinfo():
    print("Elyas Maghrabi")
    print("data analyst")

In [23]:
def main():
    while True:
        city,month,day = get_filters()
        df=load_data(city,month,day)
        time_stats(df)
        station_stats(df)
        trip_duration_starts(df)
        user_stats(df,city)
        show_row_data(df)
        restart = input("\nwould you like to rest? enter 'y' or 'n'. \n").lower()
        if restart.lower() != 'y':
            break
if __name__=='__main__':
    main()

hi let's explore some US bikeshare data!

KeyboardInterrupt: Interrupted by user